<section id="header-section"
         class="app-header"
         fxLayout="row"
         fxLayoutAlign="start center">
  <div fxFlex="1 1 0%"
       fxLayout="row"
       fxShow.lt-sm="false"
       fxLayoutAlign="start center"
       fxLayoutGap="10px">
    <a href="#header-section">WELCOME</a>
    <a href="#contact-section">CONTACT</a>
  </div>

  <h2 fxFlex="1 1 0%"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutAlign.lt-sm="start center">LEXY FEITO</h2>

  <div fxFlex="1 1 0%"
       fxLayout="row"
       fxLayoutGap="10px"
       fxLayoutAlign="end center">
    <a href="https://www.linkedin.com/in/lexy-feito/"
       target="_blank">
      <i class="fa fa-linkedin fa-2x"></i>
    </a>
    <a href="https://github.com/lexyfeito/portfolio">
      <i class="fa fa-github fa-2x"></i>
    </a>
  </div>
</section>

<section class="app-sub-header"
         fxLayout="row">
  Hi, I am a Software Engineer who has worked in the tech industry for over five years.
</section>

<section class="app-photo">
  <img src="assets/00100sPORTRAIT_00100_BURST20181123145020576_COVER.jpg">
</section>

<section class="app-resume"
         fxLayout="row"
         fxLayout.lt-md="column"
         fxLayoutGap="20px">
  <h2 fxFlex="1 1 40%">Resume</h2>
  <div fxFlex="1 1 100%">
    <p>
      As a developer I had the opportunity to work in the industry with great people and amazing companies such as
      Ultimate Software and Payrix. Since the start of my career, web development became my passion. It was very easy
      for me to grasp an understanding of HTML, CSS, and JS. Also, I enjoy working on the backend with languages such as
      C# and making APIs using NodeJS & Express.
    </p>
    <p>
      Lately, I have been learning serverless platforms like Firebase. Mobile development is another area where my
      knowledge and experience are expanding too. I started by developing hybrid apps using Ionic framework and now I
      use Flutter most of the time since is proving to be the future of mobile framework. Most of my career I used
      Angular 2.x. So yes, I’m an Angular guy and I don’t like ReactJS developers (Just Kidding), we get along just fine
      since I have experience with both.
    </p>
    <p>
      You may have noticed by now that I am not the greatest writer. However, I’m a developer which enjoy learning as
      much technologies as possible. In addition, I drive on challenges and working in a team to accomplish goals is
      much more fun that doing it alone.
    </p>

    <div>
      <h3>Experience</h3>

      <div class="timeline">
        <div class="container left">
          <div class="content">
            <h4>Senior Software Engineer</h4>
            <p>Payrix</p>
            <p>Jul 2019 - Present</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h4>Software Engineer</h4>
            <p>LiveNinja</p>
            <p>May 2018 - Jul 2019</p>
          </div>
        </div>
        <div class="container left">
          <div class="content">
            <h4>Software Engineer</h4>
            <p>Great Health Works</p>
            <p>Jan 2018 - May 201</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h4>Software Developer</h4>
            <p>Emphasys Software</p>
            <p>Apr 2015 - Jan 2018</p>
          </div>
        </div>
        <div class="container left">
          <div class="content">
            <h4>Product Development</h4>
            <p>Ultimate Software</p>
            <p>Mar 2014 - Mar 2015</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="app-references"
         fxLayout="row">
  <div fxFlex="1 1 40%">
    <h2>References</h2>
  </div>

  <div fxFlex="1 1 100%"></div>
</section>

<section id="contact-section"
         class="app-contact"
         fxLayout="row"
         fxLayout.lt-md="column"
         fxLayoutGap="20px">
  <div fxFlex="1 1 40%">
    <h2>Contact</h2>
  </div>
  <div fxFlex="1 1 100%">

    <form fxLayout="column"
          fxLayoutGap="40px"
          [formGroup]="contactForm"
          (submit)="contactMe()">
      <div fxLayout="row"
           fxLayout.lt-md="column"
           fxLayoutGap="40px">
        <mat-form-field fxFlex="1 1 0%">
          <mat-label>First Name</mat-label>
          <input matInput
                 formControlName="first"/>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 0%">
          <mat-label>Last Name</mat-label>
          <input matInput
                 formControlName="last"/>
        </mat-form-field>
      </div>

      <mat-form-field fxFlex="1 1 0%">
        <mat-label>Email</mat-label>
        <input matInput
               type="email"
               formControlName="email"/>
      </mat-form-field>

      <mat-form-field fxFlex="1 1 0%">
        <mat-label>Subject</mat-label>
        <input matInput
               type="text"
               formControlName="subject"/>
      </mat-form-field>

      <mat-form-field fxFlex="1 1 0%">
        <mat-label>Message</mat-label>
        <textarea matInput
                  formControlName="message"></textarea>
      </mat-form-field>

      <button mat-button>Submit</button>
    </form>

  </div>
</section>
